auth_enabled: false

server:
  http_listen_port: 3100

common:
  path_prefix: /loki               # diretório base dos dados
  ring:
    instance_addr: "127.0.0.1"
    kvstore:
      store: inmemory
  replication_factor: 1

schema_config:
  configs:
    - from: 2020-05-15
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  filesystem:
    directory: /var/loki/chunks        # onde os chunks de logs ficam
  tsdb_shipper:
    active_index_directory: /var/loki/index
    cache_location: /var/loki/index_cache

table_manager:
  retention_deletes_enabled: true
  retention_period: 168h                # retém logs por 7 dias

limits_config:
  reject_old_samples: true
  reject_old_samples_max_age: 168h