server:
  port: 8080

spring:
  application:
    name: otel-demo

management:
  otlp:
    metrics:
      export:
        enabled: true
        url: "http://otel-collector:4318/v1/metrics"
        step: 5s

  endpoints:
    web:
      exposure:
        include: "health, info"

loggin:
  level:
    root: DEBUG